<style>
</style>
<template id="temp_UserProfile">
    <div>
        <h2 class="withBottomLine"><b>用户信息</b></h2>
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-6 col-xs-12">
                    <label for="txtAccount" class="col-sm-4 col-xs-12 control-label">账号：</label>
                    <div class="col-sm-8 col-xs-12">
                        <input type="text" class="form-control" style="width:200px" id="txtAccount" v-model="dataSource.AccountName" />
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <label for="chkState" class="col-sm-4 col-xs-12 control-label">状态：</label>
                    <div class="col-sm-8 col-xs-12">
                        <input type="checkbox" style="margin-top:10px" id="chkState" :checked="dataSource.State" disabled />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6 col-xs-12">
                    <label for="txtDisplayName" class="col-sm-4 col-xs-12 control-label">用户名：</label>
                    <div class="col-sm-8 col-xs-12">
                        <input type="text" class="form-control" style="width:200px" id="txtDisplayName" v-model="dataSource.DisplayName" />
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <label for="txtPhone" class="col-sm-4 col-xs-12 control-label">联系电话：</label>
                    <div class="col-sm-8 col-xs-12">
                        <input type="text" class="form-control" style="width:200px" id="txtPhone" v-model="dataSource.Phone" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="txtAddress" class="col-sm-2 control-label">地址：</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="txtAddress" v-model="dataSource.Address" />
                </div>
            </div>
            <div class="form-group">
                <label for="txtMemo" class="col-sm-2 control-label">备注：</label>
                <div class="col-sm-10">
                    <textarea class="form-control" rows="5" id="txtMemo" v-model="dataSource.Memo"></textarea>
                </div>
            </div>
            <div class="simpleLine"></div>
            <div><input type="hidden" :value="dataSource.ID" /></div>
            <div class="row text-center">
                <button class="btn btn-primary" style="width:100px" v-on:click="OnSubmit">提交</button>
                <button class="btn btn-primary" style="width:100px" v-on:click="OnResetPWD">重置密码</button>
            </div>
        </div>
    </div>
</template>
<script>
    var Comp_UserProfile = {
        template: "#temp_UserProfile",
        data: function () {
            return {
                dataSource: {
                    ID: "",
                    AccountName: "",
                    DisplayName: "",
                    Address: "",
                    Phone: "",
                    Memo: "",
                    State: true
                }
            }
        },
        created() {
            this.LoadAllData();
        },
        methods: {
            LoadAllData() {
                //axios.post("/Admin/User/LoadAllUser", { IsInProgress: this.filter.IsInProgress, NewPage: this.Pagination.CurrentPage }).then((response) => {
                //    this.dataSource = response.data;
                //    this.Pagination.TotalPage = 25;
                //})
            },
            OnSubmit() {
                axios.post("/User/SaveUserProfile", { data: this.dataSource }).then((response) => {
                    if (response.data.Flag == true) {
                        window.history.go(-1);
                    }
                    else {
                        alert(response.data.Message);
                    }
                })
            },
            OnResetPWD() {

            }
        }
    };
</script>