<style>
    .flowTab {
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid #d9edf7;
        min-width: 80px;
        color: #333;
        background-color: #fff;
    }

    .flowTabActive {
        border-bottom: 0;
        background-color: #33abd6;
    }
</style>
<template id="temp_MyWorkFlow">
    <div>
        <div class="btn-group" role="group" aria-label="...">
            <span :class="['flowTab',{flowTabActive:filter.IsInProgress}]" v-on:click="SwitchTab(true)">待审批</span>
            <span :class="['flowTab',{flowTabActive:!filter.IsInProgress}]" v-on:click="SwitchTab(false)">已审批</span>
        </div>
        <div style="border:1px solid #d9edf7">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>单号</th>
                        <th>单据类型</th>
                        <th>申请人</th>
                        <th>申请日期</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in dataSource" :key="item.ID">
                        <td><router-link :to="item.Link">{{item.ID}}</router-link></td>
                        <td>{{item.FlowType}}</td>
                        <td>{{item.Requester}}</td>
                        <td>{{item.RequestDate}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="bottom">
            <ul class="pagination">
                <li :class="{'disabled':Pagination.CurrentPage==1}">
                    <a v-on:click="GotoPage(1)">First</a>
                </li>
                <li :class="{'disabled':Pagination.CurrentPage==1}">
                    <a v-on:click="GotoPrevious">&laquo;</a>
                </li>
                <li v-if="Pagination.PageList[0]>1" class="disabled"><a>...</a></li>
                <li v-for="item in Pagination.PageList" :key="item" :class="{'active':item==Pagination.CurrentPage}">
                    <a v-on:click="GotoPage(item)">
                        <span aria-hidden="true" v-html="item"></span>
                    </a>
                </li>
                <li v-if="Pagination.PageList[Pagination.PageList.length - 1]<Pagination.TotalPage" class="disabled"><a>...</a></li>
                <li :class="{'disabled':Pagination.CurrentPage==Pagination.TotalPage}">
                    <a v-on:click="GotoNext">&raquo;</a>
                </li>
                <li :class="{'disabled':Pagination.CurrentPage==Pagination.TotalPage}">
                    <a v-on:click="GotoPage(Pagination.TotalPage)">Last</a>
                </li>
            </ul>
        </div>
    </div>
</template>
<script>
    var Comp_MyWorkFlow = {
        template: "#temp_MyWorkFlow",
        data: function () {
            return {
                filter: {
                    IsInProgress: true
                },
                dataSource: [],
                Pagination: {
                    CurrentPage: 1,
                    TotalPage: 0,
                    PageList: [1, 2, 3]
                }
            }
        },
        created() {
            this.LoadAllData();
        },
        methods: {
            LoadAllData() {
                axios.post("/Flow/LoadMyTicket", { IsInProgress: this.filter.IsInProgress, NewPage: this.Pagination.CurrentPage }).then((response) => {
                    this.dataSource = response.data.Data;
                    this.Pagination.TotalPage = response.data.PageCount;
                    if (this.Pagination.TotalPage >= 3) {
                        this.Pagination.PageList = [1, 2, 3];
                    }
                    else {
                        this.Pagination.PageList = [];
                        for (var i = 0; i < this.Pagination.TotalPage; i++) {
                            this.Pagination.PageList.push(i + 1);
                        }
                    }
                })
            },
            SwitchTab(value) {
                if (this.filter.IsInProgress != value) {
                    this.filter.IsInProgress = value;
                    this.LoadAllData();
                }
            },
            GotoPrevious() {
                if (this.Pagination.CurrentPage != 1) {
                    this.GotoPage(this.Pagination.CurrentPage - 1);
                }
            },
            GotoNext() {
                if (this.Pagination.CurrentPage != this.Pagination.TotalPage) {
                    this.GotoPage(this.Pagination.CurrentPage + 1);
                }
            },
            GotoPage(num) {
                if (this.Pagination.CurrentPage != num) {
                    this.Pagination.CurrentPage = num;
                    this.AdjustPaginationAfterRecalculate();
                    this.LoadAllData();
                }
            },
            AdjustPaginationAfterRecalculate() {
                switch (this.Pagination.CurrentPage) {
                    case 1: //first
                        {
                            var diff = this.Pagination.PageList[0] - 1;
                            this.Pagination.PageList.forEach((value, index, arr) => {
                                arr[index] = value - diff;
                            })
                        }
                        break;
                    case this.Pagination.TotalPage://last
                        {
                            var diff = this.Pagination.TotalPage - this.Pagination.PageList[this.Pagination.PageList.length - 1];
                            this.Pagination.PageList.forEach((value, index, arr) => {
                                arr[index] = value + diff;
                            });
                        }
                        break;
                    case this.Pagination.PageList[0]://previous
                        {
                            this.Pagination.PageList.forEach((value, index, arr) => {
                                arr[index] = value - 1;
                            })
                        }
                        break;
                    case this.Pagination.PageList[this.Pagination.PageList.length - 1]://next
                        {
                            this.Pagination.PageList.forEach((value, index, arr) => {
                                arr[index] = value + 1;
                            })
                        }
                        break;

                    default:
                        break;
                }
            },
        }
    };
</script>



