<template id="NewEqRequest">
    <div>
        <h2 class="withBottomLine"><b>设备申领单</b></h2>
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-6 col-xs-12">
                    <label for="txtRequester" class="col-sm-4 col-xs-12 control-label">申请人</label>
                    <div class="col-sm-8 col-xs-12">
                        <input type="text" class="form-control" style="width:200px" id="txtRequester" v-model="dataSource.Requester" />
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <label for="txtRequestDate" class="col-sm-4 col-xs-12 control-label">申请日期</label>
                    <div class="col-sm-8 col-xs-12">
                        <input type="text" class="form-control" style="width:200px" id="txtRequestDate" v-model="dataSource.RequestTime" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6 col-xs-12">
                    <label for="txtEQType" class="col-sm-4 col-xs-12 control-label">设备类别</label>
                    <div class="col-sm-8 col-xs-12">
                        <input type="text" class="form-control" style="width:200px" id="txtEQType" v-model="dataSource.EquipmentType" />
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <label for="txtEQNO" class="col-sm-4 col-xs-12 control-label">设备型号</label>
                    <div class="col-sm-8 col-xs-12">
                        <input type="text" class="form-control" style="width:200px" id="txtEQNO" v-model="dataSource.EquipmentNO" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="txtAmount" class="col-sm-2 control-label">数量</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" style="width:200px" id="txtAmount" v-model="dataSource.Amount" />
                </div>
            </div>
            <div class="form-group">
                <label for="txtMemo" class="col-sm-2 control-label">备注</label>
                <div class="col-sm-10">
                    <textarea class="form-control" rows="5" id="txtMemo" v-model="dataSource.Memo"></textarea>
                </div>
            </div>
            <div class="simpleLine"></div>
            <div class="form-group">
                <label for="txtApprover" class="col-sm-2 control-label">审批人</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" style="width:200px" id="txtApprover">
                </div>
            </div>
            <div class="row text-center">
                <button class="btn btn-primary" style="width:100px" v-on:click="OnSubmit">提交</button>
            </div>
        </div>
    </div>
</template>
<script>
    padDate = (value) => {
        return value < 10 ? '0' + value : value;
    }
    function GetDate() {
        var date = new Date();
        var year = date.getFullYear();
        var month = padDate(date.getMonth() + 1);
        var day = padDate(date.getDate());
        var hours = padDate(date.getHours());
        var minutes = padDate(date.getMinutes());
        var seconds = padDate(date.getSeconds());
        return year + '-' + month + '-' + day + ' ' + hours + ':' + minutes + ':' + seconds;
    };

    var NewEqRequest = {
        template: "#NewEqRequest",
        data: function () {
            return {
                dataSource: {
                    Requester: "",
                    RequestTime: GetDate(),
                    Memo: "",
                    Amount: 12,
                    EquipmentType: "",
                    EquipmentNO: ""
                }
            }
        },
        created() {

        },
        methods: {
            Initial() {
                alert('success!');
            },
            OnSubmit() {
                axios.post("/Flow/CreateNewEqRequest", this.dataSource)
                    .then((response) => {
                        if (response.data.Flag == true) {
                            this.Initial();
                        }
                        else {
                            alert(response.data.Message)
                        }
                    })
            }
        }
    };
</script>