@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>登录</title>
    <link rel="shortcut icon" href="~/image/favicon.ico" />
    <link href="~/lib/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/vue-2.6.10.min.js"></script>
    <script src="~/lib/axios-0.19.0.min.js"></script>
    <link href="~/css/Login.css" rel="stylesheet" />
    <script src="~/lib/MD5.js"></script>
</head>
<body>
    <div>
        <div style="min-height:350px;background-color:#1086FC;background-image:url(/image/main.jpg)">
        </div>
    </div>
    <div class="siteName">
        <h1>@ViewBag.SiteName</h1>
    </div>
    <div class="LoginBox row">
        <h3>用户登录</h3>
        <div class="input-group" style="margin-bottom:20px">
            <span class="input-group-addon glyphicon glyphicon-user"></span>
            <input type="text" class="form-control" id="user" style="display:inline;" placeholder="用户名" v-model="UserName" />
        </div>
        <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-lock"></span>
            <input type="password" class="form-control" id="password" style="display:inline;" placeholder="密码" v-model="Pwd" />
        </div>
        <div class="text-left">
            <span style="color:red">{{ErrorMessage}}</span>
        </div>
        <div class="text-center" style="margin-top: 50px;">
            <button type="button" class="btn btn-primary" style="width:100%" :disabled="IsLoging" v-on:click="Login">登录</button>
        </div>
    </div>

    <script>
        var vm = new Vue({
            el: ".LoginBox",
            data: {
                UserName: "",
                Pwd: "",
                ErrorMessage: "",
                IsLoging: false
            },
            methods: {
                Login() {
                    this.IsLoging = true;

                    this.ErrorMessage = "";
                    axios.post("/Account/CheckLogin", { UserName: this.UserName, Pwd: md5(this.Pwd) }).then((response) => {
                        if (response.data.Flag == true) {
                            window.location = "/";
                        }
                        else {
                            this.ErrorMessage = response.data.Message;
                        }
                        this.IsLoging = false;
                    })
                }
            }
        });
    </script>
</body>
</html>
