<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/vue-2.6.10.min.js"></script>
    <script src="~/lib/axios-0.19.0.min.js"></script>

    <script src="~/lib/vue-axios.min.js"></script>
    <style>
        table th {
            background-color: #d9edf7;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        @RenderBody()
    </div>
</body>
</html>