body {
    font-family: Arial Calibri 'Microsoft YaHei UI';
    height:100%;
}

.LoginBox {
    width: 350px;
    background-color: white;
    z-index: 100;
    right: 30%;
    top: 30%;
    position: absolute;
    -moz-box-shadow: 10px 10px 5px #888888; 
    box-shadow: 10px 10px 5px #888888;
    padding: 15px 25px 30px 25px;
}

    .LoginBox h3 {
        color: #1086FC;
        margin-bottom: 40px;
    }

.siteName {
    color: white;
    top: 10%;
    left: 10%;
    position: absolute;
    font-weight: bold;
}
